# Server listening port
PORT=5000

# Node environment state (development/production)
NODE_ENV=development

# MongoDB Connection String URI
MONGO_URI=mongodb://localhost:27017/ap_invoice_db

# Secret token signing key for JWT authorization
JWT_SECRET=replace_with_a_secure_jwt_secret_key_in_production

# Cloudinary Integration for invoice image/pdf file attachments storage
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
